.data-account {
    display: flex;
    justify-content: center;
}

.contenet-account {
    width: 80vmin;
    /* height: 50vmin; */
    justify-content: center;
    display: grid;
    border-width: 0.1vmin;
    border-color: lightgray;
    border-radius: 2vmin;
    border-style: solid;
    box-shadow: 0px 2px 15px -10px;
    margin-bottom: 2vmin;
    padding: 2vmin;
    background: linear-gradient( 130deg, rgba(171, 17, 51, 1) 30%, rgba(255, 51, 102, 0.75)), linear-gradient(200deg, #ab1133 50%, #ff3366 50%);
    color: white;
}

.data-account-info {
    text-align: center;
}

.user-info-account {
    display: flex;
    margin: 1vmin;
}

.tittle-data-account {
    margin: 1vmin 0px 1vmin 1vmin;
    font-size: 2.5vmin;
}

.name-account {
    margin: 1vmin;
    font-weight: 400;
    font-size: 2.5vmin;
}

.body-describe-info {
    width: 75vmin;
    text-align: center;
    border-radius: 1vmin;
    border-width: 0.1vmin;
    border-color: lightgray;
    border-radius: 2vmin;
    border-style: solid;
    box-shadow: 0px 2px 15px -10px;
    padding-top: 2vmin;
    background: white;
    color: gray;
}

.transaction-account {
    background: linear-gradient( 130deg, rgba(171, 17, 51, 1) 30%, rgba(255, 51, 102, 0.75)), linear-gradient(200deg, #ab1133 50%, #ff3366 50%);
    margin: 5vmin;
    border-radius: 1vmin;
    color: white;
}